.ContactDialog {
	width: 100%;
	height: 100%;
}
.ContactDialogShadow {
	position:absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background: black;
	opacity:0.4;
	z-index:2;
}
.ContactDialog-DialogPrompt {
	position: absolute;
	top: 165px;
	left: 50%;
	margin-left: -250px;
	padding: 10px;
	width: 500px;
	background: white;
	color: black;
	z-index: 3;
	opacity: 1;
	border: 2px solid black;
	border-radius: 20px;
}

.ContactDialog-DialogPrompt .form-actions {
	margin: 0px;
	float: right;
	padding-right: 20px;
}

.ContactDialog-DialogPrompt legend {
	width:480px;
	padding:10px;
}

.ContactDialog-DialogPrompt label{
	width:100px;
	float:left;
	padding-right: 3px;
}

.ContactDialog-DialogPrompt .groups label{
	clear: both;
	width: 120px;
	margin-left: 20px;
}

.ContactDialog-DialogPrompt .text-error {
	text-align:center;
}
